<!-- src/app/task-form/task-form.component.html -->
<div class="task-form">
  <h2>{{ taskToEdit ? 'Edit Task' : 'Add Task' }}</h2>
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <label>
      Title:
      <input formControlName="title">
      <div *ngIf="taskForm.get('title')?.invalid && taskForm.get('title')?.touched" class="error-message">
        Title is required.
      </div>
    </label>
    <label>
      Description:
      <input formControlName="description">
    </label>
    <label>
      Due Date:
      <input formControlName="dueDate" type="date">
    </label>
    <label>
      Priority:
      <select formControlName="priority">
        <option value="">Select Priority</option>
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
      </select>
      <div *ngIf="taskForm.get('priority')?.invalid && taskForm.get('priority')?.touched" class="error-message">
        Priority is required.
      </div>
    </label>
    <label>
      Status:
      <select formControlName="status">
        <option value="to-do">To-Do</option>
        <option value="in-progress">In-Progress</option>
        <option value="completed">Completed</option>
      </select>
    </label>
    <button type="submit" [disabled]="taskForm.invalid">{{ taskToEdit ? 'Update Task' : 'Add Task' }}</button>
  </form>
</div>
