<div class="task-management-app">
  <header>
    <h2>{{ title }}</h2>
    <button class="export-btn" (click)="exportTasks()">Export Tasks</button>
  </header>
  <main>
    <section class="task-form-section">
      <h2>Add/Edit Task</h2>
      <app-task-form [taskToEdit]="selectedTask" (taskUpdated)="onTaskUpdated()"></app-task-form>
    </section>
    <section class="task-list-section">
      <h2>Task List</h2>
      <app-task-list (editTask)="onEditTask($event)"></app-task-list>
    </section>
  </main>
</div>